<div class="container">
  <app-search-component
    [searchModel]="searchModelFilter"
    (onSearchChange)="handleSearchRequest($event)"
    (showExtendedSettings)="onShowExtendedSettingsPopup()">
  </app-search-component>

  @if (showExtendedSettings) {
    <app-extended-search-component
      (settingsApplied)="onSettingsApplied($event)"
      (closeSettings)="onCloseExtendedSettingsPopup()"
      [linkedSearchFilter]="searchModelFilter.linkedSearchFilter"
    ></app-extended-search-component>
  }

  @if (isUserLoaded) {
    <app-graph-view-component
      [linkedUsers]="linkedUsers"
      [currentUser]="centerUser"
      (handleOnUserClick)="onUserFullInfoClick($event)">

    </app-graph-view-component>
  }

  @if (isShowFullInfo) {
    <app-user-full-info-component
    [userFullInfo]="userFullInfo"
    (onIconClose)="isShowFullInfo = false">

    </app-user-full-info-component>
  }
</div>

