<div class="modal-overlay">
  <div class="modal-content modal-full-width-height">
    <button id="profile-close-btn" class="modal-close-button" (click)="onClose()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>

    <header class="profile-header">
      <div class="profile-gallery">
        <img id="main-photo" [src]="currentPhoto" alt="Фото профиля" class="profile-main-photo">

        @for (profilePhoto of userFullInfo.profilePhotos; track profilePhoto) {
          <img [src]="profilePhoto" (click)="currentPhoto = profilePhoto" class="gallery-thumb">
        }
      </div>
    </header>

    <main class="profile-body">
      <div class="profile-identity">
        <h2 class="profile-fullname">{{ (userFullInfo.firstName || '') + ' ' + (userFullInfo.lastName || '') }}</h2>
        <a [href]="userFullInfo.url" class="profile-username">{{ userFullInfo.username }}</a>
      </div>
      <div class="profile-details">
        @for (metaInfo of userFullInfo.metaInfoMap | keyvalue; track metaInfo) {
          <div class="detail-item">
            <span class="detail-label">{{ fieldDictionary[metaInfo.key] || metaInfo.key }}</span>
            <span class="detail-value">{{ metaInfo.value }}</span>
          </div>
        }
      </div>
    </main>
  </div>
</div>
